{{define "ann"}}
<svg version="1.1" width="1000" height="1000" style="background-color: white;" xmlns="http://www.w3.org/2000/svg">
    {{$icon := true}}
    {{$url := ""}}
    {{with .ImageURL}}
    {{$url = .}}
    {{else}}
    {{$icon = false}}
    {{$url = .IconURL}}
    {{end}}
    <image id="ann-image" width="1000" href="{{$url|safeURL}}"/>

    {{$titleX := 10}}
    {{if $icon}}
    {{$titleX = 100}}
    {{end}}

    <foreignObject y="-20" width="1000" height="1000">
        <div xmlns="http://www.w3.org/1999/xhtml" style="background-color: #fffc;">
            <p xmlns="http://www.w3.org/1999/xhtml"
               style="font-size: 60px; text-align: center; margin: 20px;">
                {{.Ann.Title}}
            </p>
        </div>
    </foreignObject>

    {{if $icon}}
    <image id="org-icon" x="10" y="10" width="80" height="80" href="{{.IconURL|safeURL}}" clip-path="circle(50%)"/>
    {{end}}
</svg>
        {{end}}